@import "../build/bootstrap/scss/functions";
@import "../build/bootstrap/scss/variables";
@import "../build/bootstrap/scss/mixins";

$dark-purp: #180728;
$med-purp: #390f6c;
$sat-purp: #9700ff;
$carmine-pink: #db4c46;
$vivid-tangelo: #e87927;
$gold-yellow: #e9c65b;

$body-bg: $dark-purp;
$theme-colors: (
  dark: $dark-purp,
  med-purp: $med-purp,
  shep-deli: $carmine-pink,
  light: $white,
  gold-yellow: $gold-yellow,
  vivid-tangelo: $vivid-tangelo,
  carmine-pink: $carmine-pink,
  sat-purp: $sat-purp
);

p, label, span,
h2 {
  color: $white;
}

.no-underline {
    text-decoration: none !important;
}

.text-form-align {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
    background-color: $white !important;
    color: $dark-purp !important;
}

.dropdown-menu > .dropdown-item:hover {
    background-image: none;
    background-color: map_get($theme-colors, med-purp) !important;
    color: $white !important;
}

.btn:hover {
    background-color: map_get($theme-colors, vivid-tangelo) !important;
    color: $dark-purp !important;
}

a:hover {
    color: map_get($theme-colors, gold-yellow) !important;
}

a:hover .st2 {
    fill: map_get($theme-colors, gold-yellow) !important;
}

.gitlab-link:hover .st2 {
    fill: map_get($theme-colors, gold-yellow) !important;
}

.gitlab-link,
.st2 {
    z-index: 2;
    position: relative;
}

@import "../build/bootstrap/scss/utilities";
@import "../build/bootstrap/scss/bootstrap";

a.text-light:hover {
    color: map_get($theme-colors, gold-yellow) !important;
}

a.text-dark:hover {
    color: map_get($theme-colors, gold-yellow) !important;
}